@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    light --default-dark;
}

@theme {
  --font-yuji-syuku: "Yuji Syuku", "sans-serif";
  --font-bitcount-single: "Bitcount Single", "sans-serif";
  --font-lato: "Lato", "sans-serif";
  --font-bebas-neue: "Bebas Neue", "sans-serif";
}

@font-face {
  font-family: "Yuji Syuku";
  font-display: block;
}

body {
  @apply m-0;
  font-family:
    "Lato",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
